name: Update installs stats

on:
  schedule:
    - cron: '0 3 * * 1'   #Every monday at 03:00 UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch installs data
        run: |
          set -e

          mkdir -p data
          echo '{}' > data/installs.json

          SCRIPTS='
          github-header-shortcuts|https://greasyfork.org/en/scripts/553502.json|https://openuserjs.org/meta/Vikindor/GitHub_-_Enhanced_Shortcuts_Header_Toolbar.meta.json
          twitch-keep-tab-active|https://greasyfork.org/en/scripts/553862.json|https://openuserjs.org/meta/Vikindor/Twitch_-_Keep_Tab_Active.meta.json
          twitch-show-stream-language|https://greasyfork.org/en/scripts/552795.json|https://openuserjs.org/meta/Vikindor/Twitch_-_Show_Stream_Language.meta.json
          twitch-force-sort-viewers|https://greasyfork.org/en/scripts/549727.json|https://openuserjs.org/meta/Vikindor/Twitch_-_Force_sort_Viewers_High_to_Low.meta.json
          rutube-block-autoplay|https://greasyfork.org/en/scripts/544729.json|https://openuserjs.org/meta/Vikindor/Rutube_-_Block_Autoplay.meta.json
          '

          while IFS='|' read -r ID GF_URL OUJS_URL; do
            [ -z "$ID" ] && continue

            GF=$(curl -s "$GF_URL" | jq '.total_installs // 0')
            OUJS=$(curl -s "$OUJS_URL" | jq '.OpenUserJS.installs[0].value // 0')
            TOTAL=$((GF + OUJS))

            jq --arg id "$ID" \
               --argjson gf "$GF" \
               --argjson oujs "$OUJS" \
               --argjson total "$TOTAL" \
               '. + {($id): {greasyfork: $gf, openuserjs: $oujs, total: $total}}' \
               data/installs.json > tmp.json && mv tmp.json data/installs.json
          done <<< "$SCRIPTS"

      - name: Commit updated stats
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add data/installs.json
          git commit -m "chore: update installs stats" || exit 0
          git push
